#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 10rem;

}


  

#navbar {
display: flex;
background-color: #fd9cce;

  justify-content: space-between;
  align-items: center;

  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
  position: fixed; 
  top: 0;
  left: 0; 
  right: 0; 


  padding: 0.875rem 2rem;
  /* padding: 14px;
  justify-content: space-evenly;*/
  
  
}

#navbar h1 {
  margin: 0;
}

#navbar-links {
  display: flex;
}


#navbar a {

  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  margin-left: 1rem;
  
}

#navbar a:hover{
  background-color: #2bfa9a;
}

#posts{
  justify-content: space-between;
  flex-direction: column;
  /* grid-template-columns: repeat(3, 1fr); */
  width: 20rem;
  margin-top: 3rem ;

  padding: 2rem;
  text-align: center;
  background-color: #ffc3e2;
  border: 2px solid#e5e4ff;
  border-radius: 40px;
  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
 
  
  
  
}

#postandsearch{
  margin-top: 5rem;
  display: flex;
  background-color: #ffacd7;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
  position: fixed; 
  top: 0;
  left: 0; 
  right: 0; 


  padding: 0.875rem 2rem;
}

#home {
  justify-content: space-between;
  flex-direction: column;
  /* grid-template-columns: repeat(3, 1fr); */
  width: 20rem;
  
  padding: 2rem;
  text-align: center;
  background-color: #ffc3e2;
  border: 2px solid#e5e4ff;
  border-radius: 40px;
  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
 
}

#form {
  justify-content: space-between;
  flex-direction: column;
  /* grid-template-columns: repeat(3, 1fr); */
  width: 20rem;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  background-color: #ffc3e2;
  border: 2px solid#e5e4ff;
  border-radius: 40px;
  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
 
}